redis_data/
node_modules/
.env
srcs/logs/
*.log
*.sqlite
*.map
*.js
!srcs/services/**/vault.js   
!srcs/services/realtime-sockets/**/*.js
!srcs/services/game-engine/**/*.js
*.d.ts
srcs/logs/pids.txt
srcs/services/auth/app/auth.sqlite
srcs/volumes/
**/vault/data/**
**/vault/logs/**
unseal.md