{% load i18n %}
<div class="signinwrapper" style="display: none;">
    <div class="signinwindow">
        <h2>{% trans "Sign In" %}</h2>
        <form id="signinForm" method="post">
            {% csrf_token %}
            <label for="username">{% trans "Username" %}:</label>
            <input type="text" id="username_login" name="username_login" required>
        
            <label for="password">{% trans "Password" %}:</label>
            <input type="password" id="password_login" name="password_login" required>
            
            <button type="submit">{% trans "Login" %}</button>
            <button type="button" id="closeSignin">{% trans "Close" %}</button>
        </form>
    </div>
</div>
